Repository 42-Matcha-project/Matcha, pull requests merged in 2025-03, with the labels that each got.

#42 [add] backendの本番環境用の設定を追加しました。
  backend-go/.gitignore
  backend-go/srcs/go.mod
  backend-go/srcs/main.go
  backend-go/srcs/models/setup.go
  backend-go/srcs/utils/production_log.go
  docker-compose.prod.yml
Labels: backend

#45 [update] welcome page
  frontend-nodejs/app/components/Layout.tsx
  frontend-nodejs/app/layout.tsx
  frontend-nodejs/app/page.tsx
  frontend-nodejs/package.json
  frontend-nodejs/public/images/Welcome-background.png
  frontend-nodejs/public/images/background.png
  frontend-nodejs/public/images/macha-neko2.png
  frontend-nodejs/public/images/welcome-bird.webp
  frontend-nodejs/public/images/welcome-butterfly.webp
  frontend-nodejs/public/images/welcome-emmyu.webp
  frontend-nodejs/public/images/welcome-flower&butterfly.webp
  frontend-nodejs/public/images/welcome-flower.webp
  frontend-nodejs/public/images/welcome-fox.webp
  frontend-nodejs/public/images/welcome-hiyoko.webp
  frontend-nodejs/public/images/welcome-plant.webp
  frontend-nodejs/public/images/welcome-red-flower.webp
  package-lock.json
  package.json
Labels: frontend

#46 [add] login page
  frontend-nodejs/app/login/page.tsx
  frontend-nodejs/app/page.tsx
Labels: frontend

#57 [Update] 登録APIの修正
  .github/workflows/postman-ci.yml
  backend-go/srcs/auth/register.go
  backend-go/srcs/main.go
  backend-go/srcs/models/affiliations.go
  backend-go/srcs/models/interest_tags.go
  backend-go/srcs/models/pictures.go
  backend-go/srcs/models/post_image_urls.go
  backend-go/srcs/models/posts.go
  backend-go/srcs/models/setup.go
  backend-go/srcs/models/users.go
  backend-go/srcs/post/retrieve.go
  backend-go/srcs/post/submit.go
  postman/user.json
Labels: backend, CI/CD

#58 [Update] backendからデータベースを作成するように
  backend-go/srcs/models/setup.go
  db-mysql/Dockerfile
  db-mysql/entry-point.sh
  db-mysql/init/create-default-table.sql
Labels: database

#61 [Feature] 自習室機能を実装しました
  backend-go/srcs/go.mod
  backend-go/srcs/main.go
  backend-go/srcs/study_room/broadcast.go
  backend-go/srcs/study_room/create.go
  backend-go/srcs/study_room/delete.go
  backend-go/srcs/study_room/join.go
  backend-go/srcs/study_room/receive.go
  backend-go/srcs/study_room/user_action.go
  backend-go/srcs/utils/random_code.go
  postman/user.json
Labels: backend

#69 [Update] 新規ユーザーが登録した内容をバックエンドに送るようにした
  backend-go/srcs/go.mod
  backend-go/srcs/main.go
  frontend-nodejs/app/(auth)/login/page.tsx
  frontend-nodejs/app/(auth)/register/page.tsx
  frontend-nodejs/package-lock.json
  frontend-nodejs/package.json
  package-lock.json
  package.json
Labels: frontend

#70 [Feature] ラウンジ機能を実装しました
  backend-go/srcs/study_room/broadcast.go
  backend-go/srcs/study_room/create.go
  backend-go/srcs/study_room/join.go
  backend-go/srcs/study_room/message.go
  backend-go/srcs/study_room/receive.go
  backend-go/srcs/study_room/user_action.go
Labels: backend

#71 [Feature] loginページで入力したデータをバックエンドに送るように
  frontend-nodejs/app/(auth)/login/page.tsx
Labels: frontend

#74 [Feature] host pageの作成
  frontend-nodejs/app/(auth)/login/page.tsx
  frontend-nodejs/app/host/theme-selection/loading.tsx
  frontend-nodejs/app/host/theme-selection/page.tsx
  frontend-nodejs/components/ui/avatar.tsx
  frontend-nodejs/components/ui/badge.tsx
  frontend-nodejs/components/ui/card.tsx
  frontend-nodejs/components/ui/label.tsx
  frontend-nodejs/components/ui/slider.tsx
  frontend-nodejs/components/ui/switch.tsx
  frontend-nodejs/components/ui/tabs.tsx
  frontend-nodejs/package-lock.json
  frontend-nodejs/package.json
Labels: frontend

#76 [Feature] 勉強ログ機能を実装しました
  backend-go/srcs/main.go
  backend-go/srcs/models/setup.go
  backend-go/srcs/models/users.go
  backend-go/srcs/models/work_logs.go
  backend-go/srcs/models/works.go
  backend-go/srcs/study_room/create.go
  backend-go/srcs/study_room/join.go
  backend-go/srcs/utils/extract_user.go
  backend-go/srcs/works/add.go
  backend-go/srcs/works/get.go
  backend-go/srcs/works/log_get.go
  backend-go/srcs/works/log_post.go
  db-mysql/docs/database.dbml
  postman/user.json
Labels: backend, CI/CD

#78 [Test] WebSocketのテストを行うCIを作成しました
  .github/workflows/backend-api-test.yml
  tools/websocket_client/requirements.txt
  tools/websocket_client/websocket_client.py
Labels: CI/CD

#83 [Feature] 運営への報告APIを実装しました
  .github/workflows/backend-api-test.yml
  backend-go/srcs/auth/otp.go
  backend-go/srcs/mail/send.go
  backend-go/srcs/mail_contents/app_feedback.go
  backend-go/srcs/mail_contents/bug_report.go
  backend-go/srcs/mail_contents/feature_request.go
  backend-go/srcs/mail_contents/otp.go
  backend-go/srcs/mail_contents/user_report.go
  backend-go/srcs/main.go
  backend-go/srcs/reports/submit.go
  backend-go/srcs/token/jwt.go
  postman/user.json
Labels: backend

#87 [Feature] プロフィール設定APIを作成しました
  backend-go/srcs/auth/login.go
  backend-go/srcs/auth/otp.go
  backend-go/srcs/auth/register.go
  backend-go/srcs/mail_contents/password_forgot.go
  backend-go/srcs/main.go
  backend-go/srcs/middlewares/jwt.go
  backend-go/srcs/models/users.go
  backend-go/srcs/password/forgot.go
  backend-go/srcs/password/reset.go
  backend-go/srcs/profile/get.go
  backend-go/srcs/profile/update.go
  backend-go/srcs/reports/submit.go
  backend-go/srcs/study_room/create.go
  backend-go/srcs/study_room/delete.go
  backend-go/srcs/study_room/join.go
  backend-go/srcs/works/add.go
  backend-go/srcs/works/get.go
  backend-go/srcs/works/log_get.go
  backend-go/srcs/works/log_post.go
  db-mysql/docs/database.dbml
  postman/user.json
Labels: backend

#89 [Feature] フレンド機能を実装しました
  .github/workflows/backend-api-test.yml
  backend-go/srcs/auth/otp.go
  backend-go/srcs/friends/delete.go
  backend-go/srcs/friends/get.go
  backend-go/srcs/friends/request.go
  backend-go/srcs/main.go
  backend-go/srcs/models/friendships.go
  backend-go/srcs/models/setup.go
  backend-go/srcs/models/users.go
  backend-go/srcs/models/works.go
  db-mysql/docs/database.dbml
  postman/auth.json
  postman/friend.json
  postman/password.json
  postman/profile.json
  postman/study_room.json
  postman/user.json
  postman/work.json
Labels: backend

#91 [Feature] ログイン後のmy page作成
  frontend-nodejs/app/(auth)/profile-detail/page.tsx
  frontend-nodejs/app/components/study-room-base.tsx
  frontend-nodejs/app/hooks/useFileUploader.tsx
  frontend-nodejs/app/host/theme-selection/page.tsx
  frontend-nodejs/app/settlement/loading.tsx
  frontend-nodejs/app/settlement/page.tsx
  frontend-nodejs/components/ui/progress.tsx
  frontend-nodejs/hooks/use-mobile.ts
  frontend-nodejs/hooks/useFileUploader.ts
  frontend-nodejs/package-lock.json
  frontend-nodejs/package.json
Labels: frontend

#94 [Feature] 建物関連のAPIを実装しました。
  .github/workflows/backend-api-test.yml
  backend-go/Dockerfile
  backend-go/json_data/buildings/default.json
  backend-go/json_data/buildings/hajimari.json
  backend-go/srcs/admin/create_admin_user.go
  backend-go/srcs/admin/set_in_store.go
  backend-go/srcs/auth/register.go
  backend-go/srcs/buildings/build.go
  backend-go/srcs/buildings/build_default.go
  backend-go/srcs/buildings/get_own.go
  backend-go/srcs/buildings/get_town_buildings.go
  backend-go/srcs/main.go
  backend-go/srcs/middlewares/jwt.go
  backend-go/srcs/models/buildings.go
  backend-go/srcs/models/setup.go
  backend-go/srcs/models/users.go
  backend-go/srcs/models/work_logs.go
  backend-go/srcs/utils/time.go
  db-mysql/configs/my.cnf
  db-mysql/docs/database.dbml
  postman/admin.json
  postman/buildings.json
  postman/friend.json
Labels: backend

#95 [Update] main page(/settlement)のupdateをしました
  frontend-nodejs/app/settlement/page.tsx
  frontend-nodejs/package-lock.json
  frontend-nodejs/package.json
  frontend-nodejs/public/images/cafe.png
  frontend-nodejs/public/images/house.png
  frontend-nodejs/public/images/research_institute.png
Labels: frontend
