Repository 42-Matcha-project/Matcha, pull requests merged in 2025-05, with the labels that each got.

#145 [Feature] キャラクター機能を実装しました。
  .github/workflows/backend-api-test.yml
  backend-go/json_data/buildings/hajimari.json
  backend-go/json_data/characters/default.json
  backend-go/json_data/characters/hajimari.json
  backend-go/srcs/admin/set_in_store.go
  backend-go/srcs/applogs/create_message.go
  backend-go/srcs/applogs/messages.go
  backend-go/srcs/auth/register.go
  backend-go/srcs/buildings/buy.go
  backend-go/srcs/buildings/default.go
  backend-go/srcs/buildings/get_town_buildings.go
  backend-go/srcs/characters/buy.go
  backend-go/srcs/characters/default.go
  backend-go/srcs/characters/get_own.go
  backend-go/srcs/characters/get_store.go
  backend-go/srcs/characters/set_as_main.go
  backend-go/srcs/main.go
  backend-go/srcs/models/buildings.go
  backend-go/srcs/models/characters.go
  backend-go/srcs/models/setup.go
  backend-go/srcs/models/users.go
  backend-go/srcs/study_room/create.go
  backend-go/srcs/study_room/join.go
  backend-go/srcs/utils/slice.go
  postman/admin.json
  postman/characters.json
  postman/store.json
  postman/work.json
Labels: backend

#150 [Fix] 作業部屋周りのUI修正
  backend-go/srcs/backend
  frontend-nodejs/package-lock.json
  frontend-nodejs/package.json
  frontend-nodejs/src/app/(auth)/affiliations-filter/page.tsx
  frontend-nodejs/src/app/(auth)/login/page.tsx
  frontend-nodejs/src/app/buildings/page.tsx
  frontend-nodejs/src/app/components/SubjectRegistrationForm.tsx
  frontend-nodejs/src/app/components/Todo.tsx
  frontend-nodejs/src/app/myhouse/components/ChatPanel.tsx
  frontend-nodejs/src/app/myhouse/components/CompletedTasks.tsx
  frontend-nodejs/src/app/myhouse/components/StudyStats.tsx
  frontend-nodejs/src/app/myhouse/components/StudyTimeChart.tsx
  frontend-nodejs/src/app/myhouse/components/SubjectList.tsx
  frontend-nodejs/src/app/myhouse/components/SubjectRegistrationForm.tsx
  frontend-nodejs/src/app/myhouse/components/TaskManagement.tsx
  frontend-nodejs/src/app/myhouse/lib/timeUtils.ts
  frontend-nodejs/src/app/myhouse/page.tsx
  frontend-nodejs/src/app/myhouse/types.ts
  frontend-nodejs/src/app/profile/add-task/page.tsx
  frontend-nodejs/src/app/profile/edit/page.tsx
  frontend-nodejs/src/app/profile/page.tsx
  frontend-nodejs/src/app/settlement/page.tsx
  frontend-nodejs/src/components/ProtectedRoute.tsx
  frontend-nodejs/src/components/ui/calendar.tsx
  frontend-nodejs/src/components/ui/popover.tsx
  frontend-nodejs/src/contexts/AuthContext.tsx
  frontend-nodejs/src/lib/date-utils.ts
  frontend-nodejs/src/lib/timeUtils.ts
  frontend-nodejs/tailwind.config.ts
  package-lock.json
Labels: frontend

#151 [Feature] タスク締切日から逆算して学習タイマーがカウントされるようなUI/UXに。
  frontend-nodejs/next.config.js
  frontend-nodejs/src/app/buildings/page.tsx
  frontend-nodejs/src/app/myhouse/components/SubjectList.tsx
  frontend-nodejs/src/app/myhouse/components/SubjectRegistrationForm.tsx
  frontend-nodejs/src/app/myhouse/components/TaskManagement.tsx
Labels: frontend

#153 [Fix] フロントでの表示の大きさを画面の大きさに対して設定
  frontend-nodejs/src/app/buildings/page.tsx
  frontend-nodejs/src/app/myhouse/components/TaskManagement.tsx
  frontend-nodejs/src/app/myhouse/page.tsx
  frontend-nodejs/src/app/page.tsx
  frontend-nodejs/src/app/profile/edit/page.tsx
  frontend-nodejs/src/app/profile/page.tsx
Labels: frontend

#155 [Feature] アプリTopページ作成
  frontend-nodejs/public/images/TaskTown.png
  frontend-nodejs/public/images/background.png
  frontend-nodejs/public/images/background2.png
  frontend-nodejs/public/images/service.png
  frontend-nodejs/src/app/(auth)/login/page.tsx
  frontend-nodejs/src/app/(auth)/register/page.tsx
  frontend-nodejs/src/app/components/FooterWrapper.tsx
  frontend-nodejs/src/app/layout.tsx
  frontend-nodejs/src/app/myhouse/components/Header.tsx
  frontend-nodejs/src/app/myhouse/page.tsx
  frontend-nodejs/src/app/page.tsx
  frontend-nodejs/src/app/settlement/page.tsx
Labels: frontend

#156 [Refactor] 初期ページのリファクタリング
  frontend-nodejs/src/app/components/Footer.tsx
  frontend-nodejs/src/app/page.tsx
Labels: frontend

#158 [Refactor] 新規登録ページとログインページ
  frontend-nodejs/src/app/(auth)/login/components/LoginForm.tsx
  frontend-nodejs/src/app/(auth)/login/components/RequiredTag.tsx
  frontend-nodejs/src/app/(auth)/login/page.tsx
  frontend-nodejs/src/app/(auth)/register/components/RegisterForm.tsx
  frontend-nodejs/src/app/(auth)/register/components/SakuraFlowers.tsx
  frontend-nodejs/src/app/(auth)/register/page.tsx
  frontend-nodejs/src/app/components/BookmarkError.tsx
  frontend-nodejs/src/app/components/InfoMessage.tsx
  frontend-nodejs/src/app/components/PostList.tsx
  frontend-nodejs/src/app/components/ProtectedRoute.tsx
  frontend-nodejs/src/app/components/Sidebar.tsx
  frontend-nodejs/src/app/components/TweetForm.tsx
  frontend-nodejs/src/app/components/WoodenSign.tsx
  frontend-nodejs/src/app/notification/page.tsx
  frontend-nodejs/src/app/page.tsx
  frontend-nodejs/src/app/room/layout.tsx
Labels: frontend, refactoring

#161 [Feature] フレンドページUI作成
  frontend-nodejs/src/app/components/SettlementHeader.tsx
  frontend-nodejs/src/app/friends/AdminMessage.tsx
  frontend-nodejs/src/app/friends/FriendList.tsx
  frontend-nodejs/src/app/friends/FriendRanking.tsx
  frontend-nodejs/src/app/friends/FriendRequest.tsx
  frontend-nodejs/src/app/friends/FriendsClient.tsx
  frontend-nodejs/src/app/friends/index.ts
  frontend-nodejs/src/app/friends/page.tsx
  frontend-nodejs/src/app/friends/types.ts
Labels: frontend
