Repository 42-Matcha-project/Matcha, pull requests merged in 2025-02, with the labels that each got.

#13 [add] GoとMySQLのDocker環境を作成しました
  backend-go/.gitignore
  backend-go/Dockerfile
  backend-go/Makefile
  backend-go/entry-point.sh
  backend-go/srcs/main.go
  db-mysql/.gitignore
  db-mysql/Dockerfile
  db-mysql/configs/my.cnf
  db-mysql/docs/database.dbml
  db-mysql/init/create-default-table.sql
  docker-compose.yml
Labels: backend, database, docker

#14 大まかなタイムラインページを作成
  .gitignore
  frontend/.gitignore
  frontend/README.md
  frontend/app/components/PostList.tsx
  frontend/app/components/Sidebar.tsx
  frontend/app/components/TweetForm.tsx
  frontend/app/contexts/SidebarContext.tsx
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/app/messages/page.tsx
  frontend/app/myprofiles/page.tsx
  frontend/app/notification/page.tsx
  frontend/app/page.tsx
  frontend/app/pages/_app.tsx
  frontend/app/profilelist/page.tsx
  frontend/app/timeline/data.ts
  frontend/app/timeline/page.tsx
  frontend/app/timeline/types.ts
  frontend/components.json
  frontend/components/ui/button.tsx
  frontend/components/ui/dialog.tsx
  frontend/components/ui/input.tsx
  frontend/components/ui/textarea.tsx
  frontend/eslint.config.mjs
  frontend/lib/utils.ts
  frontend/next.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.mjs
  frontend/public/images/background.png
  frontend/public/images/mail.png
  frontend/public/images/setting.png
  frontend/public/images/user1.png
  frontend/public/images/user2.png
  frontend/tailwind.config.ts
  frontend/tsconfig.json
  package-lock.json
  package.json
Labels: frontend

#18 [add] ユーザー登録、ログイン、ユーザー情報更新を追加しました
  backend-go/Makefile
  backend-go/entry-point.sh
  backend-go/srcs/auth/login.go
  backend-go/srcs/auth/register.go
  backend-go/srcs/go.mod
  backend-go/srcs/main.go
  backend-go/srcs/middlewares/jwt.go
  backend-go/srcs/models/setup.go
  backend-go/srcs/models/users.go
  backend-go/srcs/token/jwt.go
  db-mysql/Dockerfile
  db-mysql/configs/my.cnf
  db-mysql/entry-point.sh
  db-mysql/init/create-default-table.sql
  docker-compose.yml
Labels: backend

#21 [add] ユーザー情報取得、削除APIを作成しました
  backend-go/srcs/auth/login.go
  backend-go/srcs/auth/register.go
  backend-go/srcs/main.go
  backend-go/srcs/middlewares/jwt.go
  backend-go/srcs/models/users.go
Labels: backend, database

#25 [add] 「登録」「ログイン」「ユーザー情報取得」「ユーザー情報更新」「ユーザー削除」APIに対するtestCIを作成しました。
  .github/workflows/postman-ci.yml
  .gitignore
  backend-go/srcs/auth/register.go
  backend-go/srcs/main.go
  backend-go/srcs/models/users.go
  docker-compose.yml
  postman/user.json
Labels: CI/CD

#23 Issue2 register page
  frontend/app/(auth)/affiliations-filter/page.tsx
  frontend/app/(auth)/profile-detail/page.tsx
  frontend/app/(auth)/register/page.tsx
  frontend/app/components/PostList.tsx
  frontend/app/components/TweetForm.tsx
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/app/register/page.tsx
  frontend/app/timeline/page.tsx
  frontend/components/ui/textarea.tsx
  frontend/tsconfig.json
Labels: frontend

#29 [update] 「登録」APIを大きく修正
  backend-go/srcs/auth/register.go
  backend-go/srcs/go.mod
  backend-go/srcs/main.go
  backend-go/srcs/models/affiliations.go
  backend-go/srcs/models/interest_tags.go
  backend-go/srcs/models/pictures.go
  backend-go/srcs/models/setup.go
  backend-go/srcs/models/users.go
  db-mysql/configs/my.cnf
  db-mysql/docs/database.dbml
Labels: backend, database

#31 [fix] register pageのリファクタリング
  frontend/app/(auth)/profile-detail/page.tsx
  frontend/app/(auth)/register/page.tsx
  frontend/app/components/Button.tsx
  frontend/app/components/FileInputButton.tsx
  frontend/app/components/FormField.tsx
  frontend/app/components/ImagePreview.tsx
  frontend/app/components/TagSelector.tsx
  frontend/app/hooks/useFileUploader.tsx
Labels: frontend, refactoring

#34 [add] frontendのDocker環境を構築しました
  docker-compose.yml
  frontend-nodejs/.gitignore
  frontend-nodejs/Dockerfile
  frontend-nodejs/README.md
  frontend-nodejs/app/(auth)/affiliations-filter/page.tsx
  frontend-nodejs/app/(auth)/profile-detail/page.tsx
  frontend-nodejs/app/(auth)/register/page.tsx
  frontend-nodejs/app/components/Button.tsx
  frontend-nodejs/app/components/FileInputButton.tsx
  frontend-nodejs/app/components/FormField.tsx
  frontend-nodejs/app/components/ImagePreview.tsx
  frontend-nodejs/app/components/Layout.tsx
  frontend-nodejs/app/components/PostList.tsx
  frontend-nodejs/app/components/Sidebar.tsx
  frontend-nodejs/app/components/TagSelector.tsx
  frontend-nodejs/app/components/TweetForm.tsx
  frontend-nodejs/app/contexts/SidebarContext.tsx
  frontend-nodejs/app/globals.css
  frontend-nodejs/app/hooks/useFileUploader.tsx
  frontend-nodejs/app/layout.tsx
  frontend-nodejs/app/login/page.tsx
  frontend-nodejs/app/messages/page.tsx
  frontend-nodejs/app/myprofiles/page.tsx
  frontend-nodejs/app/notification/page.tsx
  frontend-nodejs/app/page.tsx
  frontend-nodejs/app/pages/_app.tsx
  frontend-nodejs/app/profilelist/page.tsx
  frontend-nodejs/app/timeline/data.ts
  frontend-nodejs/app/timeline/page.tsx
  frontend-nodejs/app/timeline/types.ts
  frontend-nodejs/components.json
  frontend-nodejs/components/ui/button.tsx
  frontend-nodejs/components/ui/dialog.tsx
  frontend-nodejs/components/ui/input.tsx
  frontend-nodejs/components/ui/textarea.tsx
  frontend-nodejs/eslint.config.mjs
  frontend-nodejs/lib/utils.ts
  frontend-nodejs/next.config.ts
  frontend-nodejs/package-lock.json
  frontend-nodejs/package.json
  frontend-nodejs/postcss.config.mjs
  frontend-nodejs/public/images/background.png
  frontend-nodejs/public/images/mail.png
  frontend-nodejs/public/images/setting.png
  frontend-nodejs/public/images/user1.png
  frontend-nodejs/public/images/user2.png
  frontend-nodejs/tailwind.config.ts
  frontend-nodejs/tsconfig.json
  frontend/Dockerfile
Labels: frontend, docker

#36 [add] 投稿するAPIを作成しました
  backend-go/srcs/main.go
  backend-go/srcs/models/interest_tags.go
  backend-go/srcs/models/post_image_urls.go
  backend-go/srcs/models/posts.go
  backend-go/srcs/models/setup.go
  backend-go/srcs/post/submit.go
  db-mysql/docs/database.dbml
  postman/user.json
Labels: backend, database

#40 [update] バックエンドのリファクタリング
  backend-go/srcs/auth/register.go
  backend-go/srcs/models/affiliations.go
  backend-go/srcs/models/interest_tags.go
  backend-go/srcs/models/pictures.go
  backend-go/srcs/models/post_image_urls.go
  backend-go/srcs/models/posts.go
  backend-go/srcs/models/setup.go
  backend-go/srcs/models/users.go
  backend-go/srcs/post/submit.go
  db-mysql/docs/database.dbml
Labels: backend
