Repository 42-Matcha-project/Matcha, pull requests merged in 2025-04, with the labels that each got.

#107 [Feature] myhouse pageの作成
  frontend-nodejs/package-lock.json
  frontend-nodejs/package.json
  frontend-nodejs/public/images/new-house.png
  frontend-nodejs/src/app/globals.css
  frontend-nodejs/src/app/myhouse/components/ChatPanel.tsx
  frontend-nodejs/src/app/myhouse/components/Header.tsx
  frontend-nodejs/src/app/myhouse/components/Room.tsx
  frontend-nodejs/src/app/myhouse/components/StudyStats.tsx
  frontend-nodejs/src/app/myhouse/data/index.ts
  frontend-nodejs/src/app/myhouse/page.tsx
  frontend-nodejs/src/app/myhouse/types/index.ts
  frontend-nodejs/src/app/settlement/page.tsx
  frontend-nodejs/src/hooks/useFileUploader.ts
  frontend-nodejs/src/hooks/useSettlementNavigation.ts
  frontend-nodejs/tailwind.config.ts
Labels: frontend

#105 [Update] MySQLをPostgreSQLに変換しました。
  .github/workflows/backend-api-test.yml
  backend-go/Dockerfile
  backend-go/Makefile
  backend-go/create-container.sh
  backend-go/entry-point.sh
  backend-go/srcs/admin/create_admin_user.go
  backend-go/srcs/go.mod
  backend-go/srcs/go.sum
  backend-go/srcs/main.go
  backend-go/srcs/models/setup.go
  backend-go/srcs/models/users.go
  db-mysql/Dockerfile
  db-mysql/configs/my.cnf
  db-mysql/entry-point.sh
  db-postgres/.gitignore
  db-postgres/Dockerfile
  db-postgres/configs/postgresql.conf
  db-postgres/docs/database.dbml
  docker-compose.yml
Labels: database

#109 [Add] CDを作成しました。
  .github/workflows/deploy-backend-go.yml
  backend-go/srcs/utils/production_log.go
Labels: CI/CD

#116 [Feature] 認証周りのAPI連携
  frontend-nodejs/next.config.js
  frontend-nodejs/src/app/(auth)/login/page.tsx
  frontend-nodejs/src/app/(auth)/password-reset/page.tsx
  frontend-nodejs/src/app/(auth)/register/page.tsx
  frontend-nodejs/src/app/room/[roomCode]/RoomClient.tsx
  frontend-nodejs/src/app/room/[roomCode]/page.tsx
  frontend-nodejs/src/app/room/layout.tsx
  frontend-nodejs/src/components/ProtectedRoute.tsx
  frontend-nodejs/src/contexts/auth-context.tsx
Labels: frontend

#122 [Feature] 自習室周りのAPI連携（一部ミスでProfile変更してしまいました）
  backend-go/srcs/backend
  frontend-nodejs/next.config.js
  frontend-nodejs/package-lock.json
  frontend-nodejs/package.json
  frontend-nodejs/src/app/(auth)/login/page.tsx
  frontend-nodejs/src/app/(auth)/register/page.tsx
  frontend-nodejs/src/app/buildings/page.tsx
  frontend-nodejs/src/app/components/SettlementHeader.tsx
  frontend-nodejs/src/app/guest/join/page.tsx
  frontend-nodejs/src/app/host/building-selection/page.tsx
  frontend-nodejs/src/app/host/theme-selection/loading.tsx
  frontend-nodejs/src/app/host/theme-selection/page.tsx
  frontend-nodejs/src/app/layout.tsx
  frontend-nodejs/src/app/login.ts
  frontend-nodejs/src/app/messages/page.tsx
  frontend-nodejs/src/app/myhouse/components/Header.tsx
  frontend-nodejs/src/app/myhouse/components/StudyStats.tsx
  frontend-nodejs/src/app/myhouse/components/SubjectList.tsx
  frontend-nodejs/src/app/myhouse/components/SubjectRegistrationForm.tsx
  frontend-nodejs/src/app/myhouse/data/index.ts
  frontend-nodejs/src/app/myhouse/page.tsx
  frontend-nodejs/src/app/myprofiles/page.tsx
  frontend-nodejs/src/app/profile/edit/page.tsx
  frontend-nodejs/src/app/profile/page.tsx
  frontend-nodejs/src/app/profilelist/page.tsx
  frontend-nodejs/src/app/room/[roomCode]/RoomClient.tsx
  frontend-nodejs/src/app/settlement/page.tsx
  frontend-nodejs/src/app/timeline/data.ts
  frontend-nodejs/src/app/timeline/page.tsx
  frontend-nodejs/src/app/timeline/types.ts
  frontend-nodejs/src/app/websocket-test/page.tsx
  frontend-nodejs/src/components/ProtectedRoute.tsx
  frontend-nodejs/src/contexts/auth-context.tsx
  frontend-nodejs/src/hooks/useRoomJoin.ts
  frontend-nodejs/src/hooks/useRoomWebSocket.ts
  frontend-nodejs/src/hooks/useSettlementNavigation.ts
  frontend-nodejs/src/hooks/useWebSocket.ts
  frontend-nodejs/src/types/profile.ts
  frontend-nodejs/src/utils/roomUtils.ts
  frontend-nodejs/src/utils/websocketUtils.ts
Labels: frontend

#124 [Feature] Profileページの「所有している建物」のUI修正
  frontend-nodejs/src/app/buildings/page.tsx
  frontend-nodejs/src/app/myhouse/page.tsx
  frontend-nodejs/src/app/profile/page.tsx
Labels: frontend

#126 [Feature] profileページの運営への問題報告UI作成とAPI連携
  frontend-nodejs/src/app/components/study-room-base.tsx
  frontend-nodejs/src/app/guest/join/page.tsx
  frontend-nodejs/src/app/myhouse/components/StudyStats.tsx
  frontend-nodejs/src/app/myhouse/components/SubjectList.tsx
  frontend-nodejs/src/app/myhouse/components/SubjectRegistrationForm.tsx
  frontend-nodejs/src/app/myhouse/page.tsx
  frontend-nodejs/src/app/profile/page.tsx
  frontend-nodejs/src/app/reports/submit/page.tsx
Labels: frontend

#130 [Feature] profile更新UI作成とAPI連携
  frontend-nodejs/src/app/(auth)/login/page.tsx
  frontend-nodejs/src/app/(auth)/register/page.tsx
  frontend-nodejs/src/app/components/SettlementHeader.tsx
  frontend-nodejs/src/app/myhouse/components/StudyStats.tsx
  frontend-nodejs/src/app/myhouse/components/SubjectRegistrationForm.tsx
  frontend-nodejs/src/app/profile/edit/page.tsx
  frontend-nodejs/src/app/profile/page.tsx
Labels: frontend

#136 [Fix] ログインページからメインページに飛ぶ際の遅延を無くしました
  frontend-nodejs/src/app/(auth)/login/page.tsx
  frontend-nodejs/src/app/(auth)/register/page.tsx
  frontend-nodejs/src/app/components/BuildingCard.tsx
  frontend-nodejs/src/app/components/SettlementHeader.tsx
  frontend-nodejs/src/app/page.tsx
  frontend-nodejs/src/app/profile/edit/page.tsx
  frontend-nodejs/src/app/profile/page.tsx
  frontend-nodejs/src/app/settlement/page.tsx
  frontend-nodejs/src/contexts/AuthContext.tsx
  frontend-nodejs/src/data/buildings.ts
  frontend-nodejs/src/hooks/useAnimationState.ts
Labels: frontend

#137 [Update] タスク周りのAPIのアップデート
  backend-go/srcs/applogs/create_message.go
  backend-go/srcs/applogs/messages.go
  backend-go/srcs/main.go
  backend-go/srcs/models/work_logs.go
  backend-go/srcs/models/works.go
  backend-go/srcs/utils/time.go
  backend-go/srcs/works/add.go
  backend-go/srcs/works/delete.go
  backend-go/srcs/works/log_get.go
  backend-go/srcs/works/log_post.go
  db-postgres/docs/database.dbml
  postman/store.json
  postman/work.json
Labels: backend

#139 [Update] フレンド申請、削除をユーザー名で行うようにしました
  backend-go/srcs/applogs/messages.go
  backend-go/srcs/friends/delete.go
  backend-go/srcs/friends/request.go
  postman/friend.json
Labels: backend
